* {
    margin: 0;
    box-sizing: border-box;
}

.app {
    background-color: #fafafa;
    height: 100vh;
}

.app__header {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.app__headerImage {
    background-color: white;
    padding: 20px;
    object-fit: contain;
}

.app__posts {
    padding: 20px;
}

.app__posts_container {
   display: flex;
   justify-content: center;
   align-content: center;
}