
.image__post {
    display: flex;
    justify-content: center;
    align-content: center;
    min-heigth: 30vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.form_container {
   max-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.pi {
   width: 500px;
   margin: 10px 0;
   font-size: 1.5rem;
   border-radius: 5px;
}